<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Whey_Protein_Vanilla_12_Packets</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Whey Protein, Vanilla - 12 Packets
Jarrow FORMULAS WHEY PROTEIN is a 100%  natural protein concentrate of whey, from cows not treated with growth hormone (rBST), and is ultrafiltered to be low in fat, lactose and carbohydrates. WHEY PROTEIN is a rich natural source of BCAAs (Isoleucine, Leucine and Valine). Each packet (26 grams) of WHEY PROTEIN provides a total of 4 grams of BCAAs. No other source of protein provides as much of the BCAAs as whey. WHEY PROTEIN is rich in essential amino acids, ranking it with egg as one of the highest quality protein sources available. *These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</description>
</model>
