<launch>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find ebot_nav)/maps/hospital_map.yaml" />
	
	<include file="$(find ebot_nav)/launch/amcl.launch" />
	<include file="$(find ebot_nav)/launch/move_base.launch" />
	
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ebot_nav)/rviz/ebot_nav.rviz" output = "screen"/> -->

	<rosparam file="$(find ebot_nav)/config/room_waypoints.yaml" command="load"/>

	<node name="ebot_nav" pkg="ebot_nav" type="navigation_stack.py" output="screen" />

</launch>
